*, *::after, *::before{
    box-sizing: border-box;
    /* font-family: ; */
}

body{
    background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    width: 350px;
    height: 350px;
    background-color: rgb(196, 250, 232);
    border-radius: 50%;
    border: 10px solid black;
    position: relative;

}

.clock .num{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    padding: 5px;
    font-size: 1.5rem;

}

.clock .num1 {--rotation: 30deg; }
.clock .num2 {--rotation: 60deg; }
.clock .num3 {--rotation: 90deg; }
.clock .num4 {--rotation: 120deg; }
.clock .num5 {--rotation: 150deg; }
.clock .num6 {--rotation: 180deg; }
.clock .num7 {--rotation: 210deg; }
.clock .num8 {--rotation: 240deg; }
.clock .num9 {--rotation: 270deg; }
.clock .num10 {--rotation: 300deg; }
.clock .num11 {--rotation: 330deg; }


.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;    
    /* width: 10px;
    height: 50%; */
    background-color: black;
    transform-origin: bottom;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));

}

.clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second{
    width: 3px;
    height: 44%;
    background-color: red;

}

.clock .hand.minute{
    width: 7px;
    height: 37%;
    background-color: black;
    
}
.clock .hand.hours{
    width: 10px;
    height: 30%;
    background-color: black;
    
}